[defaults]
inventory = inventories/lab/inventory.ini
host_key_checking = True
interpreter_python = auto_silent
roles_path = roles
timeout = 30

[privilege_escalation]
become = True
become_method = sudo
