[defaults]
inventory = inventories/lab/inventory.ini
host_key_checking = False
interpreter_python = auto_silent
roles_path = roles
callback_plugins = callback_plugins
stdout_callback = readable_output
timeout = 30

[privilege_escalation]
become = True
become_method = sudo
